<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">İletişim</h5>
                            <div class="footer-contacts__text">
                                ©2020 Açık Pazar Alışveriş Merkezi - Giray Kara 
                            </div>
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i> İstasyon, Lise Cd. no:7, 55600 İlkadım/Samsun</li>
                                <li><i class="footer-contacts__icon far fa-envelope"></i> info@acikpazaravm.com</li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> (554) 209 21 37</li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> Pazartesi-Cuma 09:00 - 21:00</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Bilgiler</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">Hakkımızda</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Banka Hesapları</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Gizlilik & Güvenlik</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">İade Şartları</a></li>
                                <li class="footer-links__item"><a href="/kisisel-verilerin-korunmasi-kanunu" class="footer-links__link">KVKK</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">İşlem Rehberi</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Hesabım</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">Siparişlerim</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Favorilerim</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Kampanyalar</a></li>
                                <li class="footer-links__item"><a href="/hesabim" class="footer-links__link">Profilim</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Hediye Çeki</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Mesajlarım</a></li>
                                <li class="footer-links__item"><a href="/sepetim" class="footer-links__link">Sepetim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">E-Bülten</h5>
                            <div class="footer-newsletter__text">
                                Şimdi e-bülten'e kayıt olun. Kampanya ve duyurulardan haberdar olun.
                            </div>
                            <form action="" class="footer-newsletter__form">
                                <label class="sr-only" for="footer-newsletter-address">E-posta</label>
                                <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="e-posta">
                                <button class="footer-newsletter__form-button btn btn-primary">Gönder</button>
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">
                                Bizi Takip Edin
                            </div>
                            <!-- social-links -->
                            <div class="social-links footer-newsletter__social-links social-links--shape--circle">
                                <ul class="social-links__list">
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--facebook" href="https://instagram.com/samsun_acikpazar?igshid=1joritl4z67nw" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--twitter" href="" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--twitter" href="https://wa.me/905542092137" target="_blank">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--instagram" href="https://instagram.com/samsun_acikpazar?igshid=1joritl4z67nw" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social-links / end -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Popüler Ürünler</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">Düdüklü Tencere</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Kahvaltılık Takımı</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Yemek Takımı</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Çaydanlık</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Leğen</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Barbie Bebek</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Duş Başlğı</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Kategoriler</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="/hirdavat" class="footer-links__link">Hırdavat</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Kırtasiye</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Plastik</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Züccaciye</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Mutfak Gereçeri</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Oyuncak</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Banyo</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Özel Sayfalar</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">About Us</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Delivery Information</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Privacy Policy</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Brands</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Contact Us</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Returns</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Popüler Markalar</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">Store Location</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Order History</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Wish List</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Newsletter</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Specials</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Gift Certificates</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Affiliate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">
                    <!-- copyright -->
                    <a href="http://www.doobles.de" target="_blank">doobles</a>
                    <!-- copyright / end -->
                </div>
                <div class="site-footer__payments">
                    <img src="/images/payments.png" alt="">
                </div>
            </div>
        </div>
        <div class="totop">
            <div class="totop__body">
                <div class="totop__start"></div>
                <div class="totop__container container"></div>
                <div class="totop__end">
                    <button type="button" class="totop__button">
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>