   <!-- <header class="navbar navbar-inverse navbar-fixed-bottom"> -->
    <header class="navbar navbar-inverse">
        <!-- Mobile Navigation, Shows up  on smaller screens -->
        <ul class="navbar-nav-custom pull-right hidden-md hidden-lg">
            <li class="divider-vertical"></li>
            <li>
                <!-- It is set to open and close the main navigation on smaller screens. The class .navbar-main-collapse was added to aside#page-sidebar -->
                <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <!-- END Mobile Navigation -->

        <!-- Logo -->
        <a href="/admin" class="navbar-brand"><img src="/admin/img/template/logo.png" alt="logo"></a>

        <!-- Loading Indicator, Used for demostrating how loading of widgets could happen, check main.js - uiDemo() -->
        <div id="loading" class="pull-left"><i class="fa fa-certificate fa-spin"></i></div>

        <!-- Header Widgets -->
        <!-- You can create the widgets you want by replicating the following. Each one exists in a <li> element -->
        <ul id="widgets" class="navbar-nav-custom pull-right">
            <!-- Just a divider -->
      

            <li class="divider-vertical"></li>

            <!-- Messages Widget -->
            <!-- Add .dropdown-left-responsive class to align the dropdown menu left (so its visible on mobile) -->
            <li id="messages-widget" class="dropdown dropdown-left-responsive">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i>
                    <!-- If the <span> element with .badge class has no content it will disappear (not in IE8 and below because of using :empty in CSS) -->
                    <span class="badge badge-success">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right widget">
                    <li class="widget-heading"><i class="fa fa-comment pull-right"></i>Gelen Mesajlar</li>
            
                    <li class="divider"></li>
                    <li>
                        <div class="media">
                            <a class="pull-left" href="javascript:void(0)">
                                <img src="/admin/img/placeholders/image_light_64x64.png" style="border-radius: 0.5em;" alt="fakeimg">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="javascript:void(0)">Mike</a><span class="label label-default">6 hours ago</span></h6>
                                <div class="media">The logo is ready, have a look and let me know what you think!</div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center"><a href="/accepts">Hepsini Gör</a></li>
                </ul>
            </li>

            <li class="divider-vertical"></li>

            <!-- User Menu -->
            <li class="dropdown pull-right dropdown-user">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><img src="/admin/img/template/avatar.png" style="border-radius: 0.5em;" alt="avatar"> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <!-- Just a button demostrating how loading of widgets could happen, check main.js- - uiDemo() -->
                    <li>
                        <a href="javascript:void(0)" class="loading-on"><i class="fa fa-refresh"></i> Yenile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <!-- Modal div is at the bottom of the page before including javascript code -->
                        <a href="#modal-user-settings" role="button" data-toggle="modal"><i class="fa fa-user"></i> Kullanıcı Profili</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-wrench"></i> Uygulama Ayarları</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-lock"></i> Çıkış Yap</a>
                    </li>
                </ul>
            </li>
            <!-- END User Menu -->
        </ul>
        <!-- END Header Widgets -->
    </header>
    <!-- END Header -->