<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="uAdmin is a Professional, Responsive and Flat Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="/admin/img/favicon.ico">
        <link rel="apple-touch-icon" href="/admin/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/admin/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/admin/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/admin/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/admin/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/admin/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/admin/img/icon152.png" sizes="152x152">
        <link rel="stylesheet" href="/admin/css/bootstrap.css">
        <link rel="stylesheet" href="/admin/css/plugins.css">
        <link rel="stylesheet" href="/admin/css/main.css">
        <link rel="stylesheet" href="/admin/css/themes.css">
        <link rel="stylesheet" href="/css/loading.css">
        <script src="/admin/js/vendor/modernizr-respond.min.js"></script>
        <link rel="stylesheet" href="/admin/css/iziToast.min.css">
    </head>